doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jQuery.js')
    script(src='/javascripts/lazyload.js')
    script(src='/javascripts/img-scroll.js')
  body
    block content
